@media only screen and (max-width: 280px) {
    .para {
        font-size: 87%;
    }
    .it_sheet {
        font-size: 68%;
    }
    .ceo_it {
        font-size: 13px;
    }
    
}
@media only screen and (max-width: 1024px){

    .it_sheet {
        font-size: 168%;}
    .div_box {

            height: 100%;
            width: 70% !important;
            border: 4px solid red;
            border-radius: 25px;
        }
    
    
}
@media only screen and (max-width: 1280px){

    .it_sheet {
        font-size: 200%;
        margin-bottom: 16%;
    }

    .div_box {

        height: 87%;
        width: 59%;
        border: 4px solid red;
        border-radius: 25px;
    }
    
}

@media only screen and (max-width: 420px){

    .it_sheet {
        font-size: 114%;}
        .div_box {

            height: 100% !important;
            width: 59% !important;
            border: 4px solid red !important;
            border-radius: 25px !important;
            margin-left: 69px !important;
        }
    
}

@media only screen and (max-width: 400px){

    .it_sheet {
        font-size: 108%;}
    .div_box {

        height: 100% !important;
        width: 59% !important;
        border: 4px solid red !important;
        border-radius: 25px !important;
    }
    .imggg {
        height: 87%;
          width: 58%;
    }
    
    .img1 {
        height: 115%;
            width: 170%;
            border-radius: 25px;
    }
    
    
        
        
    
}
@media only screen and (max-width: 540px){

    .it_sheet {
        font-size: 80%;}
    .div_box {

            height: 100%;
            width: 36% ;
            border: 4px solid red;
            border-radius: 25px;
            margin-left: 69px !important;
        }
    
}


@media only screen and (max-width: 830px){

    .it_sheet {
        margin-bottom: 16%;}
        .ceo_it {
            font-size: 13px;
        }
}

@media only screen and (max-width: 300px){

    .it_sheet {
        font-size: 80%;}
    .div_box {

            height: 100% !important;
            width: 81% !important;
            border: 4px solid red !important;
            border-radius: 25px !important;
            margin-left: 20px !important;
        }
    
}








